@font-face {
  font-family: Catamaran;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/catamaran/Catamaran-Bold.ttf") format("truetype");
}

@font-face {
  font-family: Catamaran;
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/catamaran/Catamaran-Black.ttf") format("truetype");
}

@font-face {
  font-family: Muli;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/muli/Muli-Light.ttf") format("truetype");
}

@font-face {
  font-family: Muli;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/muli/Muli-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Muli;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/muli/Muli-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: Muli;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/muli/Muli-SemiBold.ttf") format("truetype");
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: #f6f6f6;
  color: #565656;
  font-family: Muli, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.8;
}
img {
  max-width: 100%;
}
.wrapper {
  width: 1920px;
  margin: 0 auto;
}
.container-layout {
  max-width: 1680px;
  margin: 0 auto;
}
.container {
  max-width: 1260px;
  margin: 0 auto;
}
.vhidden {
  position: absolute;
  height: 1px;
  width: 1px;
  margin: -1px;
  border: none;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.home {
  height: 1079px;
  background-color: #325785;
  background-image: radial-gradient(#4b79a5, #325785);
  background-position: 0 0;
  background-size: cover;
  color: #fefefe;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 130px;
}

.nav-list {
  list-style: none;
  padding: 0;
}
.nav-list__item {
  display: inline-block;
  margin-left: 43px;
}
.nav-list__link {
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  transition: color 0.3s ease;
  position: relative;
}
.nav-list__link::after {
  position: absolute;
  content: "";
  background-color: #ffab00;
  width: 0;
  height: 2px;
  bottom: 0;
  right: 0;
  transition: width 0.3s ease;
}
.nav-list__link:hover::after {
  width: 100%;
  right: auto;
  left: 0;
}
.nav-list__link:hover {
  color: #ffab00;
}
/*------------------------------*/
.promo {
  padding-top: 35px;
}
.promo-heading {
  text-align: center;
  text-transform: uppercase;
  font-family: Catamaran;
  font-weight: 900;
}
.promo__subtitle {
  margin: 0;
  font-size: 30px;
  letter-spacing: 1.5px;
  margin: 0 0 10px 0;
  opacity: 0.4;
}
.promo__title {
  margin: 0;
  font-weight: inherit;
  font-size: 250px;
  line-height: 1;
  letter-spacing: -14px;
  background-image: linear-gradient(90deg, #4d83b9, #69a9c9, #4d83b9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.8;
}
.promo__descr {
  background: url("../images/bg-main.png") no-repeat right bottom;
  height: 725px;
  padding-top: 210px;
  position: relative;
  z-index: 2;
  margin-top: -110px;
}
.promo__text {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 50px;
}
.promo__button {
  margin: 0;
}
.btn {
  border: none;
  display: inline-block;
  padding: 0;
  cursor: pointer;
  background-color: #ff690f;
  border-radius: 6px;
  font-family: Catamaran;
  font-weight: 700;
  color: #fefefe;
  text-transform: uppercase;
  transition: color 0.4s ease, background-color 0.4s ease;
}
.btn:hover {
  background-color: #fefefe;
  color: #ff690f;
}
.btn_promo {
  font-size: 18px;
  padding: 20px 45px;
  border: 2px solid #ff690f;
}

/*--------------------*/

.offer {
  text-align: center;
  padding: 92px 0 160px 0;
}
.section-title {
  text-transform: uppercase;
  font-family: Catamaran;
  font-weight: 900;
  font-size: 60px;
  line-height: 1.2;
  color: #333;
  letter-spacing: 0.6px;
}
.offer__title {
  margin-top: 0;
  margin-bottom: 49px;
}
.offer__text {
  letter-spacing: 0.18px;
  margin-bottom: 72px;
}
.offer-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}
.offer-item {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.offer-item__img {
  margin-bottom: 44px;
}
.offer-item__subtitle {
  font-size: 14px;
  margin-bottom: 20px;
  margin-top: auto;
}
.offer-item__title {
  font-family: Catamaran;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.24px;
  color: #333;
  margin: 0 0 30px 0;
}
.btn_offer {
  font-size: 15px;
  padding: 13px 20px;
}
/*---------------------*/
.gallery-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-flow: column wrap;
  max-height: 1281px;
}
.gallery-list__item {
  max-width: 33.333%;
}
.gallery-list__photo {
  vertical-align: top;
}

/*-------------------*/

.instructors {
  text-align: center;
  padding: 160px 0 165px 0;
}
.instructor__title {
  margin-top: 0;
  margin-bottom: 63px;
}
.instructors-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.instructors-item {
  text-transform: uppercase;
}
.instructors-item__img {
  border-radius: 50%;
  margin-bottom: 32px;
  vertical-align: top;
}
.instructors-item__post {
  margin: 0 0 5 0;
  font-size: 14px;
}
.instructors-item__name {
  font-family: Catamaran;
  font-weight: 900;
  font-size: 24px;
  color: #333;
  margin: 0;
}

/*---------------*/
.about {
  background: url("../images/bg-second.jpg") no-repeat top center / cover;
  padding-top: 229px;
  padding-bottom: 307px;
}
.about__block {
  padding-right: 446px;
}
.about__title {
  margin-top: 0;
  margin-bottom: 60px;
}
.about__descr {
  letter-spacing: 0.18px;
  margin-bottom: 80px;
}
.statistics-list {
  margin: 0;
  display: flex;
  flex-flow: column-reverse wrap;
  max-height: 90px;
}
.statistics-list-value {
  font-family: Catamaran;
  font-weight: 900;
  font-size: 64px;
  line-height: 1;
  letter-spacing: 0.64px;
  color: #ff690f;
  margin: 0;
}
.statistics-list-label {
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.18em;
  text-transform: uppercase;
}

/*------------*/
.testimonials {
  text-align: center;
  padding: 162px 0;
}
.testimonials__title {
  margin-bottom: 60px;
  margin-top: 0;
}
.testimonials-list {
  list-style: none;
}
.testimonials__list {
  margin-bottom: 51px;
  margin-top: 0;
}
.testimonials-list__item {
}
.testimonials-item {
  padding: 0 220px;
}
.testimonials-item__photo {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 23px;
}
.testimonials-item__photo::after,
.testimonials-item__photo::before {
  display: table;
  width: 50px;
  height: 36px;
  transform: translateY(16px);
}
.testimonials-item__photo::after {
  content: url("../images/icons/quote-left.png");
}
.testimonials-item__photo::before {
  content: url("../images/icons/quote-right.png");
}
.testimonials-item__img {
  margin: 0 13px;
  border-radius: 50%;
  vertical-align: top;
}
.testimonials-item__author {
  text-transform: uppercase;
  font-family: Catamaran;
  font-weight: 900;
  font-size: 18px;
  color: #333;
  margin: 0 0 42px 0;
}
.testimonials-item__text {
}
.slider-points {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.slider-points__item {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #cdd4db;
  margin: 0 9px;
}
.slider-points__item_active {
  background-color: #ff690f;
}

/*-------------------*/

.footer {
  display: flex;
  overflow: hidden;
}
.contact {
  background-color: #333;
  color: #f7f7f7;
  padding: 100px 120px;
}
.section-title__contact {
  margin: 0 0 62px 0;
  color: #fff;
}
.contact__list {
  margin-bottom: 73px;
  margin-top: 0;
}
.contact-list {
  list-style: none;
  padding: 0 0 0 12px;
}
.contact-list__item {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 40px;
  display: flex;
}
.contact-list__item::before {
  display: table;
  width: 18px;
  height: 18px;
  margin-right: 16px;
}
.contact-list__item_tel::before {
  content: url("../images/icons/phone.png");
}
.contact-list__item_address::before {
  content: url("../images/icons/marker.png");
}
.contact-list__item_mail::before {
  content: url("../images/icons/mail.png");
}
.contact-list__item_time::before {
  content: url("../images/icons/clock.png");
}
.contact__socials {
  margin: 0;
}
.social-list {
  list-style: none;
  padding: 0;
  display: flex;
}
.social-list__item {
  margin-right: 37px;
}
.social-list__link {
}
.social-list__img {
  vertical-align: middle;
}
.map {
}
.map__img {
  height: 100%;
  max-width: initial;
}
